.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 300px;
  padding-top: 80px;
}
.heading {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: var(--quaternaryColor);
}

.projectContainer {
  min-height: 22rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.8rem 2rem;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.link {
  text-decoration: none;
  color: white;
}

.folderIcon {
  font-size: 2rem;
  color: var(--quaternaryColor);
}

.projectItem {
  min-height: 22rem;
  max-width: 400px;
  min-width: 400px;
  flex-basis: calc(33.33% - 3rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.8rem 2rem;
  background-color: var(--primaryColor);
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.projectItem:hover {
  transform: translateY(-7px);
}

.itemHeader {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-start;
}

.projectHeading {
  height: fit-content;
  font-size: 1.5rem;
  justify-self: center;
  font-family: "Poppins", sans-serif;
  color: var(--quaternaryColor);
}

.projectDescription {
  font-size: clamp(0.8rem, 3vw, 1rem);
  justify-self: center;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: var(--quaternaryColor);
}

.buttonContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: var(--secondaryColor);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  background-color: var(--tertiaryColor);
}

.formContainer {
  position: absolute;
  bottom: 100%;
  left: -470px; /* Change from right to left */
  transform: translateY(-10px);
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  overflow: auto;
  height: 600px;
}

.formContainer label {
  display: block;
  margin-bottom: 10px;
}

.formContainer select,
.formContainer input[type="text"],
.formContainer input[type="text"],
.formContainer textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formContainer input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formContainer input[type="submit"]:hover {
  background-color: #45a049;
}

.formContainer input[type="checkbox"] {
  width: auto;
}

.formContainer select[multiple] {
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0;
  }

  .formContainer {
    width: 300px;
    left: -370px;
  }
}
