@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #141e46;
  --secondaryColor: #41b06e;
  --tertiaryColor: #8decb4;
  --quaternaryColor: #fff5e0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
