@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #00251e;
  --secondaryColor: #41b06e;
  --tertiaryColor: #8decb4;
  --quaternaryColor: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
